<h1>
  <% if @lang == 'fr' %>
    <% if @country == 'canada' %>
      Balade Disponible, eh?
    <% else %>
      Balade Disponible
    <% end %>
  <% else %>
    <% if @country == 'canada' %>
      Available Rydes, eh?
    <% else %>
      Available Rydes
    <% end %>
  <% end %>

</h1>
